{% extends "base.html.twig" %}

{% block title %}Popular Movies
{% endblock %}

{% block body %}

<h3>
	Most Voted Movies
</h3>

<table class="table table-striped">
	<thead>
		<tr>
			<th scope="col">
				#
			</th>
			<th scope="col">
				Movie Name
			</th>
			<th scope="col">
				Number of votes
			</th>
			<th scope="col">
				User rating
			</th>
		</tr>
	</thead>
	<tbody>
		{% set counter = 0 %}
		{% for movie in movies %}
		{% set counter = counter + 1 %}
		<tr>
			<td>
				{{ counter }}
			</td>
			<td>
				<a href="{{ path('app_movie_show',{slug: movie.slug} ) }}">
					{{ movie.title }}
				</a>
			</td>
			<td>
				{{ movie.totalVotes }}
			</td>
			<td>
				{{ (movie.rating / movie.totalVotes)| number_format(2) }}
			</td>
		</tr>
		{% endfor %}

	</tbody>
</table>

{% for video in trailers %}
{{ video.movie.title }}
{{ video.fileName }}
{% endfor %}{% endblock %}