{% extends "base.html.twig" %}

{% block title %}
MovieDB homepage
{% endblock %}

{% block body %}

<div class="newest-movies">
	<h3>Newest movies</h3>
	<h5>Check out the newest releases<h5>
</div>

<div class="container">
	<div class="card-group">
		<div class="row ">
			{% for movie in pagination %}
			<div class="col-md-12 col-lg-3">
				<div class="card">
					<a href="{{path('app_movie_show',{slug: movie.slug} )}}">
						<img src="{{asset('images/'~ movie.getPosterSafe ~'')}}" class="card-img-top" alt="...">
					</a>

					<div class="card-body">
						<h5 class="card-title">{{movie.title}}</h5>
						<p class="card-text">{{movie.storyline|u.truncate(90,'...',false)}}</p>
						<p class="card-text">
							<small class="text-muted"> <b>Categories :</b>
								{% for category in movie.categories %}
								<span class="badge rounded-pill bg-light text-dark">{{category.name}}</span>
								{% endfor %}
							</small>

							{% if movie.releaseYear %}
						<p>
							<small class="text-muted"> <b>Release year :</b>
								{{movie.releaseYear|date('Y')}}</small>
						</p>
						{% else %}
						<p>
							<small class="text-muted">Release year : To be announced
							</small>
						</p>
						{% endif %}
						</p>

						{% include 'movie/includes/adminEditDelLinks.html.twig' %}
					</div>
				</div>
			</div>
			{% endfor %}

		</div>
	</div>
</div>

<div class="top-custom-margin">
	{{pagerfanta(pagination)}}
</div>


</div>{% endblock %}