{% extends "base.html.twig" %}

{% block title %}
MovieDB homepage
{% endblock %}

{% block body %}

<div>
	<div class="row">
		<div style="padding-top: 2%;">
			<h3>
				Newest movies
				<p>
					<small class="text-muted">Check out the newest releases</small>
				</p>
			</h3>

		</div>
	</div>
</div>
<div class="card-group">
	<div class="row ">
		{% for movie in pagination %}
		<div class="col-lg-4 col-sm-12">
			<div class="card">
				<a href="{{path('app_movie_show',{slug: movie.slug} )}}"><img src="{{asset('images/img1.jpg')}}"
						class="card-img-top" alt="..."></a>
				<div class="card-body">
					<h5 class="card-title">{{movie.title}}</h5>
					<p class="card-text">This is a wider card with supporting text below as a natural lead-in to
						additional content. This content is a little bit longer.</p>
					<p class="card-text">
						<small class="text-muted">Categories :
							{% for category in movie.categories %}
							<span class="badge rounded-pill bg-light text-dark">{{category.name}}</span>
							{% endfor %}
						</small>
						<br />

						{% if movie.releaseYear %}
						<small class="text-muted">Release year :
							{{movie.releaseYear|date('Y')}}</small>
						{% else %}
						<small class="text-muted">Release year : To be announced
						</small>
						{% endif %}

					</p>
				</div>
			</div>
		</div>


		{% endfor %}

	</div>
</div>
{{pagerfanta(pagination)}}



</div>{% endblock %}