{% extends 'base.html.twig' %}

{% block title %}
{{ movie.title }}
{% endblock %}

{% block body %}

{% include 'movie/includes/rating.html.twig' %}


{% if movie.images %}

<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
	<div class="carousel-inner ">
		{% for image in movie.images %}
		<div class="carousel-item {% if loop.first %} active{% endif %}">
			<img src="{{asset('images/'~ image.fileName ~'')}}" class="d-block w-100" alt="...">
		</div>
		{% endfor %}

	</div>
	<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
		<span class="carousel-control-prev-icon" aria-hidden="true"></span>
		<span class="visually-hidden">Previous</span>
	</button>
	<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
		<span class="carousel-control-next-icon" aria-hidden="true"></span>
		<span class="visually-hidden">Next</span>
	</button>
</div>

{% endif %}


{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}

{% if is_granted('REVIEW_PUBLISHED', userData) %}
My review
</br>
Rating: <b>{{userData.rating != null ? userData.rating : "not rated yet"}}</b>


<br>
Title : {{userData.reviewTitle}}
<p>{{userData.review}}
</p>
<p><a class="btn btn-danger" href="{{path('app_usermovie_deleteReview', {'slug': movie.slug})}}">Delete Review</a>
	<a class="btn btn-secondary" href="{{path('app_usermovies_editReview', {'slug': movie.slug})}}">Edit Review</a>
</p>

{% else %}
<p><a class="btn btn-dark" href="{{path('app_usermovies_review', {'slug': movie.slug})}}">Add Review</a></p>
{% endif %}

{% endif %}


{% if reviews %}
<h2>User reviews</h2>
{% for userReview in reviews %}
User: <b>{{userReview.user.firstName}}</b>
</br>
Rating: <b>{{userReview.rating != null ? userReview.rating : "not rated yet"}}</b>

</br>
{{userReview.reviewTitle}}
</br>
<p>{{userReview.review}}
</p>
{% endfor %}
{% else %}
<h2>No reviews yet, be the first one to review this Title!</h2>
{% endif %}



{% endblock %}