{% extends 'base.html.twig' %}

{% block title %}
{{ movie.title }}
{% endblock %}

{% block body %}

<div class="card mb-3 top-custom-margin">
	<div class="row no-gutters">
		<div class="col-md-4">
			<a href="{{path('app_movie_show',{slug: movie.slug} )}}"><img
					src="{{asset('images/'~ movie.getPosterSafe ~'')}}" class="card-img" alt="..."></a>
		</div>
		<div class="col-md-8">
			<div class="card-body">
				<h5 class="card-title">{{movie.title}}</h5>
				<p class="card-text"><em>{{movie.storyline}}</em></p>
				<p><small class="text-muted"><b>Categories :</b>
						{% for category in movie.categories %}
						<span class="badge rounded-pill bg-light text-dark">{{category.name}}</span>
						{% endfor %}
					</small>
				</p>


				<p><small class="text-muted"><b>Movie Personnel : </b>
						{% for personnel in movie.personnels %}
						<span class="badge rounded-pill bg-light text-dark">
							{{personnel.role}}:
							{{personnel.person.firstName}}
							{{personnel.person.lastName}}
						</span>
						{% endfor %}
					</small>
				</p>

				<p class="card-text">
					{% if movie.releaseYear %}
					<small class="text-muted"><b>Release year :</b>
						{{movie.releaseYear|date('Y')}}</small>
					{% else %}
					<small class="text-muted"><b>Release year :</b> To be announced
					</small>
					{% endif %}
				</p>

				{% include 'movie/includes/rating.html.twig' %}
				{% include 'movie/includes/adminEditDelLinks.html.twig' %}
				{% include 'movie/includes/favoriteWatchListLinks.html.twig' %}

			</div>
		</div>
	</div>
</div>



<h1>Image gallery</h1>



{% if movie.images and movie.images is not empty %}
<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
	<div class="carousel-inner ">
		{% for image in movie.images %}
		<div class="carousel-item {% if loop.first %} active{% endif %}">
			<img src="{{asset('images/'~ image.fileName ~'')}}" class="d-block w-100" alt="...">
		</div>
		{% endfor %}

	</div>
	<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
		<span class="carousel-control-prev-icon" aria-hidden="true"></span>
		<span class="visually-hidden">Previous</span>
	</button>
	<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
		<span class="carousel-control-next-icon" aria-hidden="true"></span>
		<span class="visually-hidden">Next</span>
	</button>
</div>
{% endif %}

<hr>

{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
{% if is_granted('REVIEW_PUBLISHED', userData) %}

<p>
<h1>My review</h1>
</p>
<p>
<h5> Rating: {{userData.rating != null ? userData.rating : "please rate the movie"}}</h5>
<h5> Title : {{userData.reviewTitle}}</h5>
<em>{{userData.review}}</em>
</p>

<hr>

<p>
	<a class="btn btn-danger" href="{{path('app_usermovie_deleteReview', {'slug': movie.slug})}}">Delete
		Review</a>
	<a class="btn btn-secondary" href="{{path('app_usermovies_editReview', {'slug': movie.slug})}}">Edit
		Review</a>
</p>

{% else %}
<p><a class="btn btn-success" href="{{path('app_usermovies_review', {'slug': movie.slug})}}">Add Review</a></p>
{% endif %}
{% endif %}


{% if pagination %}
<h2>User reviews</h2>

{% for userReview in pagination %}
<div>User: <b>{{userReview.user.getDisplayName}}</b></div>
Movie Rating: <b>{{userReview.rating != null ? userReview.rating : "not rated yet"}}</b>
<div><b>{{userReview.reviewTitle}}</b></div>
<p><em>{{userReview.review}}</em>
</p>
<hr>
{% endfor %}

{{pagerfanta(pagination)}}

{% else %}
<h2>No reviews yet, be the first one to review this Title!</h2>
{% endif %}

{% endblock %}