{% extends 'base.html.twig' %}

{% block title %}Admin Movie{% endblock %}
{% block body %}
<br />
<h3>Administer users</h3>
<div>
    <p> Hello <b>{{app.user.getDisplayName}}</b>, we have <b>{{userCount}}</b> users registered, last registered user is
        <b>{{lastUser.getDisplayName}}</b>
    </p>
</div>


Search Users by email, first name or last name
<form action="{{path('app_admin_user_search')}}" class="d-flex">
    <input class="form-control me-2" type="search" placeholder="Search" name='q' aria-label="Search" required />
    <button class="btn btn-outline-success" type="submit">Search</button>
</form>

<br>
<div>
    <a class="btn btn-primary" href="{{path('app_admin_movie_new')}}">Create New Movie</a>
    <br />
    <br />
    <h3>Latest Movies:</h3>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Title</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for movie in pagination %}
            <tr>
                <td> <a href="{{path('app_movie_show', {slug : movie.slug})}}"> {{movie.title}}</a></td>
                <td> <a class="btn btn-secondary" href="{{path('app_admin_movie_edit', {'slug': movie.slug})}}">Edit
                        Movie</a></td>
                <td><a class="btn btn-danger" href="{{path('app_admin_movie_delete', {'slug': movie.slug})}}">Delete
                        Movie</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {{pagerfanta(pagination)}}
</div>


{% endblock %}