{% extends "base.html.twig" %}

{% block title %}Favorites
{% endblock %}

{% block body %}


{% if favoritesList is not empty %}

<h2>
    Your Favorite Movies
</h2>
sorted by movie rating



<table class="table table-striped">
    <thead class="thead">
        <tr>
            <th scope="col">
                #
            </th>
            <th scope="col">
                Movie Name
            </th>
            <th scope="col">
                User rating
            </th>
        </tr>
    </thead>
    <tbody>
        {% set counter = 0 %}
        {% for item in favoritesList %}
        {% set counter = counter + 1 %}
        <tr>
            <td>
                {{ counter }}
            </td>
            <td>
                <a href="{{ path('app_movie_show',{slug: item.movie.slug} ) }}">
                    {{ item.movie.title }}
                </a>
            </td>
            <td>
                {% if item.movie.rating is not null %}
                {{ (item.movie.rating / item.movie.totalVotes)| number_format(2) }}
                {% else %}
                No rating yet
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% else %}
<p>
<h3>You have no movies added to your favorites, <a href="{{path('app_movie_explore')}}">check out</a> some of the
    popular titles.</h3>
</p>

{% endif %}


{% endblock %}